# Dependencies
/node_modules
/.pnp
.pnp.js
/front-end-tars/node_modules
/back-end-tars/node_modules

# Python specific
/back-end-tars/__pycache__/
/back-end-tars/*/__pycache__/
/back-end-tars/*/*/__pycache__/
/back-end-tars/*/*/*/__pycache__/
/back-end-tars/venv/
/back-end-tars/.venv/
/back-end-tars/*.py[cod]
/back-end-tars/*$py.class
/back-end-tars/.pytest_cache/
/back-end-tars/.coverage
/back-end-tars/htmlcov/

# Testing
/coverage

# Next.js specific build outputs
/front-end-tars/.next/
/front-end-tars/out/

# Production
/build

# Misc
.DS_Store
*.pem
**/.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
/back-end-tars/.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode

# Project specific
/back-end-tars/.archive.do_not_enter/
.DS_Store
infra-tars/.terraform/providers/registry.terraform.io/azure/azapi/1.15.0/darwin_arm64/terraform-provider-azapi_v1.15.0
infra-tars/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/darwin_arm64/terraform-provider-azurerm_v3.0.2_x5
infra-tars/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/darwin_arm64/terraform-provider-random_v3.7.2_x5
infra-tars/.terraform.lock.hcl
back-end-tars/agents/agent5_task_dispatcher/__pycache__/logic.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/interactive.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/handler.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/client.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/__init__.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/logic.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/interactive.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/handler.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/client.cpython-312.pyc
back-end-tars/agents/agent5_task_dispatcher/__pycache__/__init__.cpython-312.pyc
back-end-tars/agents/agent4_outcome_predictor/__pycache__/logic.cpython-312.pyc
*.pyc
*.pyc
.DS_Store
